body {
    font-family: Roboto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 8px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 8px;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    height: 24px;
    justify-content: space-evenly;
    padding: 18px;
}

.header img {
    height: 100%;
    width: 100px;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 32px;
}

.hero-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 350px;
    padding-right: 82px;
}

.hero button {
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    height: 32px;
    width: 100px;
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    margin-top: 8px;
}

.hello {
    font-size: 32px;
    font-weight: bold;
}

.hero img {
    height: 200px;
    width: 500px;

}

.container h2 {
    color: #505050;
}

.boxes {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 52px;
    padding: 0 24px 24px;
}

.box img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.text {
    width: 200px;
}

.around-statement {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    flex: auto;
}

.statement {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 40%;
    text-align: left;
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
    color: #505050;
}

.attribution {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    text-align: right
}

.around-action {
    background-color: white;
    display: flex;
    flex: auto;
    justify-content: center;
    padding: 50px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.action {
    display: flex;
    justify-content: space-around;
    padding: 32px;
    background-color: #3882f6;
    width: 40%;
    border-radius: 5px;
    text-align: left;
    color: white;
    align-items: center;
}

.call {
    margin-left: 42px;
}

.call-head {
    font-size: 20px;
    font-weight: bold;
}

.action button {
    color: white;
    background-color: #3882f6;
    outline: solid white;
    border-radius: 5px;
    height: 32px;
    width: 100px;
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    margin-left: auto;
    margin-right: 44px;
}

.footer {
 background-color: #1F2937;
 color: white;
 padding: 18px;
 margin: 0;
}