body {
    font-family: Roboto;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 8px;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
}

.main {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.statement {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;

}

.attribution {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.action {
    display: flex;
}

.call {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer {
 background-color: #1F2937;
 color: white;
 padding: 18px;
 margin: 0;
}